[flake8]
ignore = W503
max-line-length=120

exclude =
    search/wsgi.py
    docker-setup/

per-file-ignores =
    testsuite/*: E501, F405, F403, F401, F841, F811
    hoover/search/migrations/*: E501
    hoover/site/settings/*: F405, F403
