[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
elasticsearch = "==6.*"
psycopg2-binary = "*"
pytest = "*"
pytest-django = "*"
requests = "*"
gunicorn = "*"
django-otp = "*"
whitenoise = "*"
Django = "*"
django-ratelimit = "*"
PyYAML = "*"
logzero = "*"
qrcode = "*"
Pillow = "*"
cachetools = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
pyyaml = "*"
drf-yasg = {extras = ["validation"], version = "*"}
uritemplate = "*"
responses = "*"
celery = "*"
pytest-celery = '*'
django-celery-results = "*"
pytest-mock = "*"
uptrace = "*"
opentelemetry-instrumentation-django = "*"
opentelemetry-instrumentation-psycopg2 = "*"
opentelemetry-instrumentation-logging = "*"
opentelemetry-instrumentation-celery = "*"
opentelemetry-instrumentation-requests = "*"
opentelemetry-instrumentation-elasticsearch = "*"
django-tus = {editable = true, ref = "master", git = "https://github.com/liquidinvestigations/django-tus.git"}

[requires]
python_version = "3.9"
