[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
elasticsearch = "==6.*"
psycopg2-binary = "*"
pytest = "*"
pytest-django = "*"
requests = "*"
gunicorn = "*"
django-otp = "*"
whitenoise = "*"
django-ratelimit = "*"
PyYAML = "*"
logzero = "*"
qrcode = "*"
Pillow = "*"
cachetools = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
pyyaml = "*"
drf-yasg = {extras = ["validation"], version = "*"}
uritemplate = "*"
responses = "*"
celery = "*"
pytest-celery = '*'
django-celery-results = "*"
pytest-mock = "*"
django-tus = {ref = "25e91e2ac2a5f9d91ac843af2e2054819e778d7d", git = "https://github.com/liquidinvestigations/django-tus.git"}
sentry-sdk = {extras = ["django"], version = "*"}
opentelemetry-distro = "*"
opentelemetry-exporter-otlp = "*"
django = "==3.*"
webdavclient3 = "*"

[requires]
python_version = "3.10"
