[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
elasticsearch = "==6.*"
psycopg2-binary = "*"
pytest = "*"
pytest-django = "*"
requests = "*"
waitress = "*"
django-otp = "*"
whitenoise = "*"
Django = "*"
PyYAML = "*"
logzero = "*"
qrcode = "*"
Pillow = "*"
cachetools = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
pyyaml = "*"
drf-yasg = "*"
uritemplate = "*"

[requires]
python_version = "3.9"
