{% extends "auth_base.html" %}


{% block content %}

<h1>Login</h1>

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
  {% csrf_token %}

  <fieldset class="form-group row">
    {{ form.username.label_tag }}
    <div class="col-sm-4">
      {{ form.username }}
    </div>
  </fieldset>

  <fieldset class="form-group row">
    {{ form.password.label_tag }}
    <div class="col-sm-4">
      {{ form.password }}
    </div>
  </fieldset>

  <button type="submit" class="btn btn-primary">login</button>
  <input type="hidden" name="next" value="{{ next }}" />
</form>

<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}
