{% extends "auth_base.html" %}


{% block content %}

<h1>Login</h1>

{% for message in form.non_field_errors %}
  <p class="alert-danger">{{ message }}</p>
{% endfor %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}

  <fieldset class="form-group row{% if form.errors.username %} has-danger{% endif %}">
    {{ form.username.label_tag }}
    <div class="col-sm-4">
      {{ form.username }}
    </div>
    {% for message in form.errors.username %}
      <div class="form-control-feedback">{{ message }}</div>
    {% endfor %}
  </fieldset>

  <fieldset class="form-group row{% if form.errors.password %} has-danger{% endif %}">
    {{ form.password.label_tag }}
    <div class="col-sm-4">
      {{ form.password }}
    </div>
    {% for message in form.errors.password %}
      <div class="form-control-feedback">{{ message }}</div>
    {% endfor %}
  </fieldset>

  {% if HOOVER_INSTALLED.twofactor %}
  <fieldset class="form-group row{% if form.errors.otp_token %} has-danger{% endif %}">
    {{ form.otp_token.label_tag }}
    <div class="col-sm-4">
      {{ form.otp_token }}
    </div>
    {% for message in form.errors.otp_token %}
      <div class="form-control-feedback">{{ message }}</div>
    {% endfor %}
  </fieldset>
  {% endif %}

  <button type="submit" class="btn btn-primary">login</button>
  <input type="hidden" name="next" value="{{ next }}" />
</form>

{% if not HOOVER_INSTALLED.twofactor %}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
{% endif %}

{% endblock %}
