{% extends "auth_base.html" %}


{% block content %}

<h1>Change password</h1>

<form method="post">

  {% csrf_token %}

  {% if form.errors %}
    <p class="errornote">
      Please correct the errors below.
    </p>
  {% endif %}


  <p>Please enter your old password, for security's sake, and then enter your
  new password twice so we can verify you typed it in correctly.</p>

  <fieldset class="form-group row">
    {{ form.old_password.label_tag }}
    <div class="col-sm-4">
      {{ form.old_password }}
      {{ form.old_password.errors }}
    </div>
  </fieldset>

  <fieldset class="form-group row">
    {{ form.new_password1.label_tag }}
    <div class="col-sm-4">
      {{ form.new_password1 }}
      {{ form.new_password1.errors }}
      {% if form.new_password1.help_text %}
      <p class="help">{{ form.new_password1.help_text }}</p>
      {% endif %}
    </div>
  </fieldset>

  <fieldset class="form-group row">
    {{ form.new_password2.label_tag }}
    <div class="col-sm-4">
      {{ form.new_password2 }}
      {{ form.new_password2.errors }}
      {% if form.new_password2.help_text %}
      <p class="help">{{ form.new_password2.help_text }}</p>
      {% endif %}
    </div>
  </fieldset>

  <button type="submit" class="btn btn-primary">Change my password</button>

  <script>document.getElementById("id_old_password").focus();</script>
</form>

{% endblock %}
