{% extends 'base.html' %}


{% block headstyles %}
<style>

#navbar {
  float: right;
}

#navbar > p, #navbar > .btn-group {
  display: inline-block;
  margin: 0 0 0 1em;
}

.highlight em {
  background: #aff;
}

</style>
{% endblock %}


{% block content %}

<div id="navbar">
  <div class="btn-group" role="group">
    <button id="loggedin-btngroup" type="button"
            class="btn btn-secondary dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
    </button>
    <div id="menu" class="dropdown-menu" aria-labelledby="loggedin-btngroup">
    </div>
  </div>

</div>

<h1>hoover</h1>

<div id="search">
  <form>

    <div class="form-inline">
      <div class="form-group">
        <input name="q" value="{{ request.GET.q }}"
          class="form-control" placeholder="query ...">
        <button type="submit" class="btn btn-primary">search</button>
      </div>
    </div>

  </form>
</div>

  <div id="results"></div>

{% load static %}
<script src="{% static "search/jquery.js" %}"></script>
<script src="{% static "search/bootstrap.js" %}"></script>

<script>

$.get('{% url "whoami" %}', function(resp) {
  var links = [
    {text: 'about', href: "https://github.com/mgax/hoover"},
    {text: 'documentation', href: "https://dl.dropboxusercontent.com"
      + "/u/103063/static/hoover/HooverDocumentaiton.pdf"},
    {text: 'terms', href: "/terms.html"},
    {text: 'login', href: resp.urls.login,
      hide: !! resp.username},
    {text: '('+resp.username+') logout', href: resp.urls.logout,
      hide: ! resp.username},
    {text: 'change password', href: resp.urls.password_change,
      hide: ! resp.username},
    {text: 'admin', href: resp.urls.admin,
      hide: ! resp.admin}
  ]
  links.forEach(function(link) {
    if(link.hide) return
    $('<a class="dropdown-item">')
      .text(link.text)
      .attr('href', link.href)
      .appendTo($('#menu'))
  })
});

function search(q, callback) {
  $.ajax({
    url: '{% url "search" %}',
    method: 'POST',
    data: JSON.stringify({
      query: {query_string: {default_field: 'text', query: q}},
      fields: ['path'],
      highlight: {fields: {text: {}}},
    }),
    success: callback,
  })
}

var q = document.querySelector('[name=q]').value
if(q) {

  $('#results').text('searching ...')
  search(q, function(resp) {

    $('#results').empty()
    if(! resp.hits.hits.length) {
      $('#results').text('-- no results --')
    }

    resp.hits.hits.forEach(function(hit) {

      var item = $('<div>').appendTo('#results')
      var a = $('<a>', {href: hit._url}).text(hit.fields.path)
      $('<h3>').append(a).appendTo(item)

      if(hit.highlight && hit.highlight.text) {
        var highlights = $('<ul>').appendTo(item)
        hit.highlight.text.forEach(function(hi) {
          $('<li class="highlight">').html(hi).appendTo(highlights)
        })
      }

    })

  })

}

</script>

{% endblock %}
