<!doctype html>
<meta charset="utf-8">
<title>hoover</title>
<link rel="stylesheet" href="//cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
<style>

#auth {
  float: right;
}

.highlight em {
  background: #aff;
}

</style>
<body>

<div class="container">

  <div id="auth">
    {% if request.user.is_authenticated %}

      {{ request.user }}
      <a href="{% url 'logout' %}?next={% url 'home' %}">logout</a>
      {% if request.user.is_superuser %}
        <a href="{% url 'admin:index' %}">admin</a>
      {% endif %}

    {% else %}

      <a href="#" id="login-button" class="btn btn-primary-outline">login</a>
      <form action="{% url 'login' %}?next={% url 'home' %}"
            id="login" method="post"
            class="form-inline" style="display: none">
        {% csrf_token %}
        <div class="form-group">
          <input name="username"
            class="form-control" placeholder="user ...">
          <input name="password" type="password"
            class="form-control" placeholder="user ...">
          <button type="submit" class="btn btn-primary">login</button>
        </div>
      </form>

    {% endif %}
  </div>

  <h1>hoover</h1>

  <div id="search">
    <form class="form-inline">
      <div class="form-group">
        <input name="q" value="{{ request.GET.q }}"
          class="form-control" placeholder="query ...">
        <button type="submit" class="btn btn-primary">search</button>
      </div>
    </form>
  </div>

  <div id="results"></div>

</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script>

$('#login-button').click(function(e) {
  e.preventDefault()
  $('#login').toggle()
  console.log('login')
})

function search(q, callback) {
  $.ajax({
    url: '{% url "search" %}',
    method: 'POST',
    data: {q: q},
    success: callback,
  })
}

var q = document.querySelector('[name=q]').value
if(q) {

  $('#results').text('searching ...')
  search(q, function(resp) {

    $('#results').empty()
    if(! resp.hits.hits.length) {
      $('#results').text('-- no results --')
    }

    resp.hits.hits.forEach(function(hit) {

      var item = $('<div>').appendTo('#results')
      var i = hit._source.text

      $('<h3>').append(
        $('<a>', {href: i.url}).text(i.title)
      ).appendTo(item)

      var highlights = $('<ul>').appendTo(item)
      hit.highlight.text.forEach(function(hi) {
        $('<li class="highlight">').html(hi).appendTo(highlights)
      })

    })

  })

}

</script>
