<!doctype html>
<meta charset="utf-8">
<title>hoover</title>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.css">
<style>

.highlight em {
  background: #aff;
}

</style>
<body>

<div class="container">

  <h1>hoover</h1>

  <div id="search">
    <form class="form-inline">
      <div class="form-group">
        <input name="q" value="{{ request.GET.q }}"
          class="form-control" placeholder="query ...">
        <button type="submit" class="btn btn-default">search</button>
      </div>
    </form>
  </div>

  <div id="results"></div>

</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>

function search(q, callback) {
  $.ajax({
    url: '{% url "search" %}',
    method: 'POST',
    data: {q: q},
    success: callback,
  })
}

var q = document.querySelector('[name=q]').value
if(q) {

  $('#results').text('searching ...')
  search(q, function(resp) {

    $('#results').empty()
    if(! resp.hits.hits.length) {
      $('#results').text('-- no results --')
    }

    resp.hits.hits.forEach(function(hit) {

      var item = $('<div>').appendTo('#results')
      var i = hit._source.text

      $('<h3>').append(
        $('<a>', {href: i.url}).text(i.title)
      ).appendTo(item)

      var highlights = $('<ul>').appendTo(item)
      hit.highlight.text.forEach(function(hi) {
        $('<li class="highlight">').html(hi).appendTo(highlights)
      })

    })

  })

}

</script>
