{% extends 'base.html' %}


{% block headstyles %}
<style>

#auth {
  float: right;
}

#collections {
  float: right;
  max-width: 33%;
}

.highlight em {
  background: #aff;
}

</style>
{% endblock %}


{% block content %}

<div id="auth">
  {% if request.user.is_authenticated %}

    <div class="btn-group" role="group">
      <button id="loggedin-btngroup" type="button"
              class="btn btn-secondary dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        {{ request.user }}
      </button>
      <div class="dropdown-menu" aria-labelledby="loggedin-btngroup">
        <a class="dropdown-item"
           href="{% url 'logout' %}?next={% url 'home' %}"
           >logout</a>
        {% if request.user.is_superuser %}
          <a class="dropdown-item"
             href="{% url 'admin:index' %}"
             >admin</a>
        {% endif %}
      </div>
    </div>


  {% else %}

    <a href="{% url 'login' %}" class="btn btn-primary-outline">login</a>

  {% endif %}
</div>

<h1>hoover</h1>

<div id="search">
  <form>

    <div id="collections">
      <h2>Collections</h2>

      {% for collection in collections %}
        <div class="checkbox">
          <label>
            <input type="checkbox" value="{{ collection.slug }}"
              {% if collection.slug in selected %}checked{% endif %}>
            {{ collection.label }}
          </label>
        </div>
      {% empty %}
        <em>none available</em>
      {% endfor %}
      <input id="collections-input" type="hidden">
    </div>

    <div class="form-inline">
      <div class="form-group">
        <input name="q" value="{{ request.GET.q }}"
          class="form-control" placeholder="query ...">
        <button type="submit" class="btn btn-primary">search</button>
      </div>
    </div>

  </form>
</div>

  <div id="results"></div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>

<script>

var checkboxes = $('#collections input[type=checkbox]')
checkboxes.change(function(evt) {
  saveCollections()
})
saveCollections()

function saveCollections() {
  var collectionsInput = $('#collections-input')
  if(checkboxes.filter(':not(:checked)').length > 0) {

    var selected = ''+(
      checkboxes
      .filter(':checked')
      .get()
      .map(function(c) { return c.value })
      .join(' ')
    )
    collectionsInput.attr('name', 'collections').val(selected)

  }
  else {

    collectionsInput.attr('name', null).val('')

  }
}

function search(q, collections, callback) {
  $.ajax({
    url: '{% url "search" %}',
    method: 'POST',
    data: {q: q, collections: collections},
    success: callback,
  })
}

var q = document.querySelector('[name=q]').value
if(q) {

  var collections = (document.querySelector('[name=collections]') || {}).value
  $('#results').text('searching ...')
  search(q, collections, function(resp) {

    $('#results').empty()
    if(! resp.hits.hits.length) {
      $('#results').text('-- no results --')
    }

    resp.hits.hits.forEach(function(hit) {

      var item = $('<div>').appendTo('#results')
      var i = hit._source

      $('<h3>').append(
        $('<a>', {href: i.url}).text(i.title)
      ).appendTo(item)

      var highlights = $('<ul>').appendTo(item)
      hit.highlight.text.forEach(function(hi) {
        $('<li class="highlight">').html(hi).appendTo(highlights)
      })

    })

  })

}

</script>

{% endblock %}
